#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#popUp {
    z-index: 1000000;
    position: fixed;
    right: 0px;
    top: 60px;
    background-color: #b6e86d;
    padding: 10px;
    visibility: hidden;
    height: 400px;
    border: 3px double white;
    border-radius: 5px;
}

#filterPopUp {
    z-index: 1000000;
    position: fixed;
    right: 0px;
    top: 60px;
    background-color: #eb9994;
    padding: 10px;
    visibility: hidden;
    height: 300px;
    width: 300px;
    border: 3px double white;
    border-radius: 5px;
}